<%= form_for @category do |f| %>
  <div class="field">
    <%= f.label :name, "Название категории" %></br>
  </div>
  <div class="field">
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "OK" %>
  </div>

<% end %>
