<% i=1 %>
<div class="group_gallery" style=" height: 480px;">
  <div style=" height: 35px; width: 165px;">
    <p><%= product.name %></p>
    <p><%= product.description %></p>
    </div>
<% if i> 3 %>
   <div style="clear: left; padding-bottom: 35px;"></div>
   <% i=0 %>
<% end %>
<% i += 1 %>
</div>


