<div id="footer">
	<p style="font-size: 10px; margin-bottom: 5px;">© 2010 Все права защищены. Фирма по производству мебели "Pro Mebel"</p>
    <p style="font-size: 10px;">Юридический адрес: г. Казань, ул. Московская, 31/6, офис 217. Телефоны: (843)732-02-26, 423-01-35</p>
</div>
